name: Deployment Workflow
on:
    push:

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup Node
              uses: actions/setup-node@v1
              with:
                  node-version: '20.x'

            - name: Install Dependencies
              run: npm ci

            - name: Build
              run: npm run build

            - name: Upload Build
              if: success()
              uses: actions/upload-artifact@v1
              with:
                  name: deploy_dist
                  path: build
    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        needs:
            - build
        steps:
            - name: Checkout
              uses: actions/checkout@v1

            - name: Download Build
              uses: actions/download-artifact@v1
              with:
                  name: deploy_dist

            - name: Deploy to GitHub Pages
              uses: JamesIves/github-pages-deploy-action@releases/v3
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  BRANCH: gh-pages
                  FOLDER: deploy_dist
